@charset "utf-8";
/* CSS Document */
body {
margin:0px;
padding:0px;
background-image:url(../imagenes/img_backgroundazul.jpg);
background-color:#616267;
background-position:top;
background-repeat:repeat-x;
}

.titulo2 {
font-family:"Trebuchet MS";
font-size:13px;
font-weight:bold;
color:#FFFFFF;
}

.txtcontenidobco {
font-family:"Trebuchet MS";
font-size:13px;
color:#FFFFFF;
}

.titulo3bco {
font-family:tahoma;
font-size:16px;
font-weight:bold;
color:#FFFFFF;
}